apiVersion: v1
kind: ConfigMap
metadata:
  name: logstash-config
  namespace: pustaka
data:
  logstash.conf: |
    input {
      beats {
        port => 5044
      }
    }
    output {
      elasticsearch {
        hosts => ["http://elasticsearch:9200"]
        index => "pustaka-logs-%{+YYYY.MM.dd}"
      }
      stdout { codec => rubydebug }
    }
