apiVersion: v1
kind: Service
metadata:
  name: eureka-pustaka
  namespace: pustaka
spec:
  selector:
    app: eureka
  ports:
    - name: http
      port: 8761
      targetPort: 8761
  type: ClusterIP
